#hero {
    height: 90vh;
    background: linear-gradient(120deg, #007bff, #6610f2);
    padding-top: 80px;
}
.service-card {
    transition: transform 0.3s;
}
.service-card:hover {
    transform: scale(1.05);
}
#btnTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    display: none;
}
